<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<style>

	</style>
</head>

<body>
	<h3 class="my-3">Donate Us</h3>
	<input id="payment_field" type="text" class="form-control my-2" placeholder="Enter Amount" />

	<div class="container text-center">
		<button onclick="paymentStart()" class="btn btn-success">Pay</button>
	</div>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/js/script.js"></script>
</body>

</html>